---
import Layout from "@/layout/layout.astro";
---

<Layout title="Servicio de Transporte Sanchez | Sobre Nosotros">
  <section
    class="container flex flex-col items-center justify-center h-full pt-24 pb-10 md:pt-24 md:pb-0 gap-y-5 lg:pt-32"
  >
    <!--  -->
    <article
      class="p-[15px] animate-fade-in-down animate-delay-200 animate-duration-slow bg-yellow-400 rounded-xl shadow-md"
    >
      <header>
        <h1 class="mb-5 h2">Misión:</h1>
      </header>
      <p class="">
        Facilitar traslados seguros y eficientes para nuestros clientes,
        ofreciendo servicios integrales de transporte y mudanzas con un enfoque
        centrado en la satisfacción del cliente, la calidad y la confiabilidad.
        Nos comprometemos a proporcionar soluciones personalizadas que superen
        las expectativas, mientras cuidamos con esmero los bienes de nuestros
        clientes en cada paso del proceso.
      </p>
    </article>
    <!--  -->
    <article
      class="p-[15px] animate-fade-in-down animate-delay-400 animate-duration-slow bg-sky-400 rounded-xl shadow-md"
    >
      <header>
        <h1 class="mb-5 h2">Visión:</h1>
      </header>
      <p class="">
        Ser reconocidos como líderes en el sector del transporte y las mudanzas,
        destacando por nuestra excelencia operativa, atención al cliente
        excepcional y compromiso con la innovación continua. Aspiramos a
        expandir nuestra presencia a nivel nacional e internacional,
        convirtiéndonos en el socio preferido para todas las necesidades de
        transporte y logística, manteniendo siempre nuestro compromiso con la
        calidad y la integridad.
      </p>
    </article>
    <!--  -->
    <article
      class="p-[15px] animate-fade-in-down animate-delay-800 animate-duration-slow bg-green-400 rounded-xl shadow-md"
    >
      <header>
        <h1 class="mb-5 h2">Valores:</h1>
      </header>
      <div class="flex flex-col gap-y-2">
        <p>
          <span class="font-bold">Confianza:</span> Nos comprometemos a ganar y mantener
          la confianza de nuestros clientes a través de la transparencia, la honestidad
          y el cumplimiento de nuestras promesas.
        </p>
        <p>
          <span class="font-bold">Excelencia:</span>
          Buscamos la excelencia en todo lo que hacemos, desde la atención al cliente
          hasta la ejecución de cada servicio, siempre en busca de la mejora continua.
        </p>
        <p>
          <span class="font-bold"> Responsabilidad:</span>
          Asumimos la responsabilidad de cada traslado y mudanza, cuidando con dedicación
          los bienes de nuestros clientes y garantizando su seguridad y protección
          en todo momento.
        </p>
        <p>
          <span class="font-bold"> Innovación:</span>
          Abrazamos la innovación en tecnología, procesos y servicios para ofrecer
          soluciones más eficientes y adaptadas a las necesidades cambiantes del
          mercado y de nuestros clientes.
        </p>
        <p>
          <span class="font-bold">Trabajo en equipo:</span>
          Valoramos y fomentamos el trabajo en equipo, reconociendo que nuestro éxito
          depende del esfuerzo colaborativo de cada miembro de nuestro equipo.
        </p>
        <p>
          <span class="font-bold"> Compromiso social y ambiental:</span>
          Nos comprometemos a operar de manera sostenible, minimizando nuestro impacto
          ambiental y contribuyendo positivamente a las comunidades en las que operamos.
        </p>
      </div>
    </article>
  </section>
</Layout>
