---
import Layout from "@/layout/layout.astro";
---

<Layout title="Servicios de Transporte Sanchez | Contactos">
  <section class="flex flex-col container items-center justify-center h-screen">
    <h1 class="h1 mb-6">Contactanos</h1>
    <article class="w-full max-w-[460px] p-5 bg-slate-300 rounded-lg shadow-xl">
      <form
        action=""
        class="flex max-w-[350px] mx-auto items-start justify-center flex-col [&>label]:py-2 [&>label]:font-medium [&>input]:border-slate-800 [&>label>span]:text-red-500 [&>input]:w-full [&>input]:px-3 [&>input]:py-2 [&>input]:border"
      >
        <label for="name">Nombre <span>*</span> </label>
        <input required type="text" id="name" placeholder="Escriba su nombre" />
        <label for="tel">Telefono <span>*</span> </label>
        <input required type="tel" id="tel" placeholder="Escriba su telefono" />
        <label for="email">Correo Electronico </label>

        <input
          type="email"
          name="email"
          id="email"
          placeholder="Escriba su correo electronico"
        />
        <label for="message">Orden <span>*</span></label>
        <textarea
          required
          name="message"
          id="message"
          placeholder="Escribir la orden"
          class="w-full h-[160px] px-3 py-2 border border-slate-800"></textarea>
        <button
          type="submit"
          class="px-4 block min-w-[160px] rounded-lg mx-auto hover:bg-transparent hover:text-sky-500 border hover:border-sky-500 transition-all duration-500 ease-in-out py-2 font-bold text-xl border-slate-800 bg-sky-500 text-slate-800 mt-6"
          >Enviar</button
        >
      </form>
    </article>
  </section>
</Layout>
