---
import Layout from "../layout/layout.astro";

import Image from "astro/components/Image.astro";
import image1 from "@/assets/servicios/mudanza.jpg";
import image2 from "@/assets/servicios/acarreo.jpg";
import image3 from "@/assets/servicios/embalaje.jpg";
---

<Layout title="Transporte Sanchez | Servicios">
  <section
    class="container flex flex-col items-center justify-center w-full mt-[70px] mb-10"
  >
    <h1
      class="block py-5 font-bold text-center animate-duration-slower animate-blurred-fade-in lg:py-12 h2"
    >
      Servicios de <br class="block md:hidden" /> Transporte Sanchez
    </h1>
    <div
      class="flex flex-col items-center justify-center gap-5 lg:gap-10 lg:flex-row"
    >
      <article
        class="flex flex-col items-center justify-center animate-fade-in-right animate-delay-300"
      >
        <h2 class="mb-5 font-semibold h3">Mudanzas</h2>
        <Image
          src={image1}
          class="w-[240px] h-[160px] md:w-[320px] md:h-[200px] lg:w-[450px] lg:h-[280px] object-cover shadow-lg rounded-md"
          alt="A description of my image."
        />
      </article>
      <article
        class="flex flex-col items-center justify-center animate-fade-in-left animate-duration-600 animate-delay-500"
      >
        <h2 class="mb-5 font-semibold h3">Acarreos</h2>
        <Image
          src={image2}
          class="w-[240px] h-[160px] md:w-[320px] md:h-[200px] lg:w-[450px] lg:h-[280px] object-cover shadow-lg rounded-md"
          alt="A description of my image."
        />
      </article>
      <article
        class="flex flex-col items-center justify-center animate-fade-in-right animate-duration-1000 animate-delay-800"
      >
        <h2 class="mb-5 font-semibold h3">Embalaje</h2>
        <Image
          src={image3}
          class="w-[240px] h-[160px] md:w-[320px] md:h-[200px] lg:w-[450px] lg:h-[280px] object-cover shadow-lg rounded-md"
          alt="A description of my image."
        />
      </article>
    </div>
  </section>
</Layout>
