---

---

<footer class="container block w-full py-3 shadow-md">
  <p class="text-black/80 text-[12px] text-center">
    Creado por <a
      href="https://github.com/PaiiNKiilleRD"
      class="hover:text-sky-500">Javier Peralta</a
    >
  </p>
</footer>
