---
import Icon from "astro-iconify";
---

<footer
  class="container w-full h-[30px] shadow-md flex items-center justify-center gap-x-2"
>
  <p class="text-black/80 text-[12px]">
    Hecho por <a
      href="https://github.com/PaiiNKiilleRD"
      class="font-bold hover:text-sky-500"
      >Javier Peralta.
    </a>
  </p>
</footer>

<!-- <footer
  class="container w-full h-[30px] shadow-md flex items-center justify-center gap-x-2"
>
  <p class="text-black/80 text-[12px]">
    Hecho por <a
      href="https://github.com/PaiiNKiilleRD"
      class="font-bold hover:text-sky-500"
      >Javier Peralta.
    </a> Creado con
  </p>
  <Icon name="logos:astro" class="w-[60px]" />
</footer> -->
