---
import { links } from "@/data";

import Image from "astro/components/Image.astro";
import logo from "@/assets/logo.png";
---

<nav class="absolute top-0 right-0 w-full">
  <div class="container flex items-center justify-between w-full h-20">
    <!-- <Image
      src={logo}
      class="w-[120px]"
      alt="Logo de la empresa de servicios de transporte Sanchez."
    /> -->
    <h1 class="h1">Logo</h1>
    <ul class="items-center hidden md:flex">
      {
        links.map((link) => {
          return (
            <li>
              <a
                href={link.path}
                class="block px-3 py-3 transition-all duration-500 rounded-md hover:bg-yellow-400"
              >
                {link.text}
              </a>
            </li>
          );
        })
      }
    </ul>
    <button
      id="menuBtn"
      class="z-[99] md:hidden inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-all duration-300 border rounded-md border-slate-900"
      >Menu</button
    >
  </div>
</nav>

<script>
  import { isMenuOpen } from "@/stores.js";

  const menuBtn = document.getElementById("menuBtn") as Element;

  menuBtn.addEventListener("click", () => {
    isMenuOpen.set(!isMenuOpen.value);
    console.log(isMenuOpen.value);
  });

  isMenuOpen.subscribe((open) => {
    if (open) {
      menuBtn.classList.add("text-white");
      menuBtn.classList.add("bg-slate-900");
    } else {
      menuBtn.classList.remove("text-white");
      menuBtn.classList.remove("bg-slate-900");
    }
  });
</script>
