---
import { links } from "@/data";
---

<nav
  class="fixed top-0 right-0 w-full z-[6] transition-all duration-300 bg-transparent"
  transition:persist
>
  <div class="container flex items-center justify-between w-full h-20">
    <!-- <Image
      src={logo}
      class="w-[120px]"
      alt="Logo de la empresa de servicios de transporte Sanchez."
    /> -->
    <h1 class="h1">Logo</h1>
    <ul class="items-center hidden md:flex">
      {
        links.map((link) => {
          return (
            <li>
              <a
                href={link.path}
                class="block px-3 py-3 transition-all duration-500 rounded-md hover:bg-yellow-400"
              >
                {link.text}
              </a>
            </li>
          );
        })
      }
    </ul>
    <button
      id="menuBtn"
      class="z-[99] inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-all duration-300 border rounded-md md:hidden border-slate-900"
      >Menu</button
    >
  </div>
</nav>

<script>
  import { isMenuOpen } from "@/stores.js";

  // LLAMADA DE ELEMENTOS
  const nav = document.querySelector("nav") as Element;
  const menuBtn = document.getElementById("menuBtn") as Element;

  //  AGREGANDO CLASE AL HACER SCROLL
  window.addEventListener("scroll", () => {
    nav.classList.toggle("scrolled", window.scrollY > 100);
  });
  // MANEJO DE ESTADO
  menuBtn.addEventListener("click", () => {
    isMenuOpen.set(!isMenuOpen.value);
    console.log(isMenuOpen.value);
  });
  // USANDO ESTADO
  isMenuOpen.subscribe((open) => {
    if (open) {
      menuBtn.classList.add("text-white");
      menuBtn.classList.add("bg-slate-900");
      nav.classList.remove("scrolled");
      // nav.classList.add("bg-transparent");
      // nav.classList.remove("bg-[#f6f6f6]");
      // nav.classList.remove("shadow-xl");
    } else {
      menuBtn.classList.remove("text-white");
      menuBtn.classList.remove("bg-slate-900");
      nav.classList.add("scrolled");
      // nav.classList.remove("bg-transparent");
      // nav.classList.add("bg-[#f6f6f6]");
      // nav.classList.add("shadow-xl");
    }
  });

  //  BG YELLLOW AL HACER CLICK A UN LINK
  const links = document.querySelectorAll("a");
  links.forEach((link) => {
    link.addEventListener("click", () => {
      // SOLUCION PARCIAL .
      document.querySelector(".active")?.classList.remove("active");
      link.classList.add("active");
    });
  });
</script>

<style>
  .active {
    @apply bg-yellow-500;
  }

  .scrolled {
    @apply bg-[#f6f6f6] shadow-lg transition-all duration-500;
  }
</style>
