---
import { links } from "@/data";
---

<div
  transition:persist
  id="bgSideMenu"
  class="top-0 fixed z-[5] right-[100%] w-full transition-all duration-300 h-screen backdrop-blur-sm bg-black/80"
>
  <div
    id="sideMenu"
    class="w-[60%] z-[6] absolute right-0 top-0 transition-all duration-300 h-screen bg-primary flex flex-col items-center ease-in-out justify-center"
  >
    <ul class="">
      {
        links.map((link) => {
          return (
            <li>
              <a
                href={link.path}
                class="block px-3 py-3 transition-all duration-500 h3 hover:bg-yellowHover"
              >
                {link.text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<script>
  import { isMenuOpen } from "@/stores";
  const bgSideMenu = document.getElementById("bgSideMenu") as Element;
  const sideMenu = document.getElementById("sideMenu") as Element;

  document.addEventListener("astro:page-load", () => {
    isMenuOpen.set(false);
  });

  isMenuOpen.subscribe((open) => {
    if (open) {
      bgSideMenu.classList.add("right-[0%]");
      bgSideMenu.classList.remove("right-[100%]");
    } else {
      bgSideMenu.classList.remove("right-[0%]");
      bgSideMenu.classList.add("right-[100%]");
    }
  });
</script>

<style is:inline>
  .active {
    @apply bg-red-500;
  }
</style>
