---
interface Props {
  title: string;
}
const { title } = Astro.props;

import ViewTransitions from "astro/components/ViewTransitions.astro";
import { fade } from "astro:transitions";

import Navbar from "@/sections/navbar.astro";
import Sidemenu from "@/sections/sidemenu.astro";
import Footer from "@/sections/footer.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- SEO -->
    <meta
      name="description"
      content="Nos encargamos de tu acarreo, mudanza y embalaje.
    Estamos ubicados en Santo Domingo brindando servicios en toda Republica Dominicana."
    />

    <!-- OpenGraph -->
    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://paiinkiillerd.github.io/landingTransporte/"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Servicios de Transporte Sanchez | Inicio"
    />
    <meta
      property="og:description"
      content="Nos encargamos de tu acarreo, mudanza y embalaje.
Estamos ubicados en Santo Domingo brindando servicios en toda Republica Dominicana."
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/8f25c374-3d05-4bde-890d-2f20d2af31c0.png?token=8gwbI1oilEqeG0nVcP3KBomu7i5JUjRm0Q2VBjexuKI&height=651&width=1200&expires=33255066859"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="paiinkiillerd.github.io" />
    <meta
      property="twitter:url"
      content="https://paiinkiillerd.github.io/landingTransporte/"
    />
    <meta
      name="twitter:title"
      content="Servicios de Transporte Sanchez | Inicio"
    />
    <meta
      name="twitter:description"
      content="Nos encargamos de tu acarreo, mudanza y embalaje.
Estamos ubicados en Santo Domingo brindando servicios en toda Republica Dominicana."
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/8f25c374-3d05-4bde-890d-2f20d2af31c0.png?token=8gwbI1oilEqeG0nVcP3KBomu7i5JUjRm0Q2VBjexuKI&height=651&width=1200&expires=33255066859"
    />

    <!--  -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <!--  BARRA DE NAVEGACION  -->
    <header>
      <Navbar />
      <Sidemenu />
    </header>
    <!-- BODY -->
    <main>
      <slot />
      <Footer />
    </main>
    <!--  -->
    <style is:global>
      body {
        @apply bg-[#ccc] font-lato;
      }

      .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1];
      }

      .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1];
      }

      .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1];
      }
    </style>
  </body>
</html>
